<div class="layout layout--col">
<div class="flex flex--col w-50">
    <h1 class="title">Now: {{data.today.current}}&#176;</h1>
    <div class="flex flex--row w-100">
      <div class="outline flex flex--col w-100 flex-1 p-2">
        <h3 class="title">Today</h3>
        <img src="{{data.today.condition.image}}" alt="" class="image-stroke--black image-stroke image-stroke--xlarge">
        <p class="title">{{data.today.condition.text}}</p>
        <p class="title">{{data.today.low}}&#176; / {{data.today.max}}&#176;</p>
      </div>
      {% for day in data.forecast %}
        <div class="outline flex flex--col w-100 flex-1 p-2">
          <h3 class="title">{{day.date}}</h3>
          <img src="{{day.condition.image}}" alt="" class="image-stroke--black image-stroke image-stroke--xlarge">
          <p class="title">{{day.condition.text}}</p>
          <p class="title">{{day.low}}&#176; / {{day.max}}&#176;</p>
        </div>
      {% endfor %}
    </div>
</div>
</div>
