  <section class="d-flex justify-content-center align-items-center flex-fill h-100 flex-column">
    <div class="w-75 text-center">
      <h1 class="text-center mb-5">Now: <%= data.today.current %>&#176;</h1>
      <div class="d-flex justify-content-between p-5 border border-black border-4">
        <div class="w-25 d-flex flex-column justify-content-between">
          <h3>Today</h3>
          <img src="<%= data.today.condition.image %>" alt="" srcset="">
          <p class="flex-grow-1"><%= data.today.condition.text %></p>
          <p class="text-center"><%= data.today.low %>&#176; / <%= data.today.max %>&#176;</p>
        </div>
        <% for(let i = 0; i < data.forecast.length; i++) { %>
          <div class="vr"></div>
          <div class="w-25 d-flex flex-column justify-content-between ">
            <h3><%= data.forecast[i].date %></h3>
            <img src="<%= data.forecast[i].condition.image %>" alt="" srcset="">
            <p class="flex-grow-1"><%= data.forecast[i].condition.text %></p>
            <p class="text-center"><%= data.forecast[i].low %>&#176; / <%= data.forecast[i].max %>&#176;</p>
          </div>
        <% } %>
      </div>
    </div>
  </section>
